<div class="hero-unit">
  <h1>Tsk Trckr!!</h1>

  new task:
  <input type="text"
       ng-model="input"
	 ></input>
  <button ng-click="add(input)">add</button>

  <p>Here's what you want to do.</p>
  <ul>
      <li ng-repeat="task in tasks | filter:!isDone">{{task.what}}
      <button ng-disabled="task.active" ng-click="start(task)">start</button>
      <button ng-disabled="!task.active" ng-click="stop(task)">stop</button>
      <button ng-click="complete(task)">complete</button>
      </li>
  </ul>

  <p>Here's what is done.</p>
  <ul>
      <li ng-repeat="task in tasks | filter:isDone">{{task.what}}</li>
  </ul>

</div>
