<div class="hero-unit">
  <h1>Tm Trckr!!</h1>

  <a href="#/tsk">new task</a>

  <p>Here's are the {{todoCount()}} things that need to be done.</p>
  <ul>
      <li ng-repeat="task in tasks | filter:isTodo">
	<button ng-disabled="task.active" ng-click="start(task)">start</button>
	<button ng-disabled="!task.active" ng-click="stop(task)">stop</button>
	<button ng-click="complete(task)">complete</button>
	<button ng-click="nuke($index)">delete</button>
	{{task.what}}
      </li>
  </ul>

  <p>Here's are the {{doneCount()}} things that you already did.</p>
  <ul>
      <li ng-repeat="task in tasks | filter:isDone">{{task.what}}</li>
  </ul>

</div>
